# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Git.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nasyb\Documents\Git\.idea\.idea.Git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
